// Media Queries
@media (max-width: 1224px){
	
	.aboutPageContent{
		width:95%;
		// padding:0 50px;
		float:none;
		margin:0 auto;
	}
	.aboutpageImage{
		width:100%;
		margin:0 auto;
		float:none;
		// margin-left: 10%;
	}
	.aboutpagePicture{
		max-width:95%;
		margin:0 auto;
		float:none;
	}
	.aboutpageHeading{
		margin-left: 2.5%;
	}

}
@media (max-width: 989px){
	.bioContent.bioContentAbout{
		width:100%;
		margin:0 auto;
		padding:0;
		p{
			margin:0;
			padding:0;
			margin-bottom: 5%;
		}
	}
	.bioContent.bioContentImage{
		display: inline-block;
		width:100%;
		text-align: center;
		margin:0;
	}
	.bio{
		padding:0;
	}
	.bioText{
		margin:0;
		padding:0;
	}
	.aboutWrapper{
		width:96%;
	}	
	.skillsContent.block{
		padding:0;
		margin:0;
		width:100%;
	}
}



@media (max-width: 950px){
	.headArrow{
		display: none;
	}
	.wrapper{
		width:99%;
	}
	.sideBar{
		margin-top: 5%;
	}
	.section{
		padding:0;
	}
	.portfolio{	
		-webkit-flex-direction: column;
		 flex-direction: column;
		 width:100%;
	}
	.portfolioBox{
		-webkit-flex-direction: column;
		 flex-direction: column;
		 width:90%;
		 height:auto;
	}
	.featuredPost{
		width:100%;
		float:none;
		padding:50px 0;
	}
	.imageHolder{
		width:100%;
	}
	.pageContent{
		margin-top: 5%;
	}
	div.arrow{
	  text-align: right;
	  float:right;
	  width:45%;
	  position: static;
	}
	.menu{
		li{
		  padding: 0;
		}
	
	}

	
}
@media (max-width: 850px){
	.aboutSection{
		padding-bottom: 50px;
	}
	.skillsContent{
		padding-bottom: 80px;
	}
	.featuredPost{
		width:100%;
		float:none;
	}
	.imageHolder{
		width:100%;
	}
	.headerBox{
		background: #f2f2f2;
	}
	.nav{
		background: #f2f2f2;
	}
}
@media(max-width: 605px){
	.directionArrowRight, .directionArrowLeft{
		display: block;
		width:100%;
		margin-top: 5%;
	}
	.entry-content{
		padding-bottom:50px;
	}
	
}


@media(max-width: 600px){
	.pageContent{
		margin-top: 10%;
		float:none;
	}
	.sideBar{
		margin-top: 10%;
		float:none;
	}
	.singleListItems{
		padding-bottom: 20px;
	}
}
@media screen and (min-width: 500px){
	.featuredPost{
		transform:translateY(20%);
		opacity: 1:
	}
}

@media(max-width: 550px){
	.sideBar{
		width:90%;
		margin-top: 10%;
		padding-bottom: 5px;
		border: none;
		margin:0 auto;
	}
	.pageContent{
		width:90%;
		margin-top: 10%;
	}
}


@media (max-width: 500px){
  .loopWrapper{
  	width:96%;
  	margin:0 auto;
  }
  .headerBox{
  	width:100%;
  }
  .menu-item{
  	padding: 35px 10px;
  }
  .featuredPost{
  	width:100%;
  }
  .imageHolder{
  	width:100%;
  }
  .footerTag{
  	font-size: 25px;
  	padding-bottom: 20px;
  }
  .footerContact{
	font-size: 18px;
  }
  .foot1{
  	width:100%;
  }
  .foot2{
  	width:100%;
  }
}

@media(max-width: 440px){
	.loopWrapper{
		margin-top: 15%;
	}
	.pageContent{
		width:96%;
	}
	.sideBar{
		margin-left: 5%;
	}
}
@media(max-width: 440px){
	.loopWrapper{
		margin-top: 20%;
	}
}


@media (max-width: 320px){
	.footerContact{
		font-size: 15px;
	}
}
